@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto italic";
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #fff;
    --color-bg-variant: #0891b2;
    --color-primary: rgb(8, 145, 178);
    --color-primary-variant: #189cbd;
    --color-dark: #000;
    --color-dark-variation: #585858;

    --transition: all 400ms ease;

    --container-width-xxl: 60%;
    --container-width-large: 75%;
    --container-width-medium: 85%;
    --container-width-small: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}

.container {
    width: var(--container-width-large);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-dark-variation);
}

button {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

button:hover {
  background: var(--color-dark-variation);
  color: var(--color-bg);
  border-color: transparent;
}
#about {
  overflow: hidden;
}
.about-container {
  display: flex;
  background: var(--color-primary);
  height: 50vh;
  justify-content: center;
  align-items: center;
  transform: skew(0deg, -10deg) translateY(-8rem);
}
.about-content {
  display: flex;
  padding: 0;
  position: relative;
  max-width: 90%;
  transform: skew(0deg, 10deg) translateY(8rem);
  text-align: center;
}
.about-content>img {
  width: 35%;
  height: auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.about-content>h1 {
  position: absolute;
  width: 35%;
  z-index: 10;
  bottom: 0px;
  color: var(--color-bg)
}
.about-content>article {
  margin: 2rem 2rem 2rem 0;
  background-color: var(--color-bg);
  text-align: left;
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 7px 8px 25px 2px rgba(0,0,0,0.3);
}
.about-content>article>p {
  padding: 1rem 1rem 1rem 0rem;
}
.about-content>article>.icons {
  position: absolute;
  bottom: 10%;
  right: 3rem;
}
.about-content>article>.icons>* {
  margin-left: 1rem;
  font-size: 1.3rem;

}

/* Media Queries (XXL Devices) */
@media screen and (min-width: 2048px) {
  .container {
    width: var(--container-width-xxl);
  }
}

/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-medium);
  }

  section {
    margin-top: 6rem;
  }
}

/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-small);
  }
}
