@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto italic";
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #fff;
    --color-bg-variant: #0891b2;
    --color-primary: rgb(8, 145, 178);
    --color-primary-variant: #6dc7de;
    --color-dark: #000;
    --color-dark-variation: #585858;

    --transition: all 400ms ease;

    --container-width-xxl: 60%;
    --container-width-large: 75%;
    --container-width-medium: 85%;
    --container-width-small: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}

.container {
    width: var(--container-width-large);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-dark-variation);
}

.icon-link {
  color: var(--color-dark);
  transition: var(--transition);
}

.icon-link:hover {
  color: var(--color-primary-variant);
}

button {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

button:hover {
  background: var(--color-dark-variation);
  color: var(--color-bg);
  border-color: transparent;
}
#about {
  overflow: hidden;
  display: flex;
  margin-top: 0;
}
.about-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  transform: skew(0deg, -10deg) translateY(-11rem);
}
.about-content {
  display: flex;
  position: relative;
  align-items: center;
  height: 80%;
  margin: 2rem 0;
  max-width: 90%;
  transform: skew(0deg, 10deg) translateY(11rem);
  text-align: center;
}
.about-content>img {
  width: 35%;
  height: auto;
  float: left;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.about-content>h1 {
  position: absolute;
  width: 35%;
  z-index: 10;
  bottom: -5%;
  color: var(--color-bg)
}
.about-content>article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-bg);
  min-height: 80%;
  text-align: left;
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 7px 8px 25px 2px rgba(0,0,0,0.3);
}
.about-content>article>p {
  padding: 1rem 1rem 1rem 0rem;
}
.about-content>article>.icons {
  align-self: flex-end;
  text-align: right;
  color: var(--color-dark);
  transition: var(--transition);
}
.about-content>article>.icons>* {
  margin-left: 1rem;
  font-size: 1.3rem;
}

#contact {
  max-height: 80vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
}

.contact-container {
  margin: 2%;
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.contact-info {
  height: 100%;
  width: 50%;
  padding: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  justify-content: center;
  flex: 1;
  font-size: 0.8vw;
}

.contact-info > p {
  margin-top: 5%;
} 

.contact-address {
  margin-top: 0%;
}

.contact-logo {
  display: flex;
  font-size: calc(7px + 0.6vw);
}

.contact-logo > a {
  margin-right: 3%;
}

.contact-image {
  height: 100%;
  width: 50%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.contact-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



/* Media Queries (XXL Devices) */
@media screen and (min-width: 2048px) {
  .container {
    width: var(--container-width-xxl);
  }

  #contact {
    max-height: 80vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
  }
  
  .contact-container {
    margin: 2%;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .contact-info {
    height: 100%;
    width: 50%;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    justify-content: center;
    flex: 1;
    font-size: calc(7px + 0.3vw);
  }
  
  .contact-info > p {
    margin-top: 5%;
  } 
  
  .contact-address {
    margin-top: 0%;
  }
  
  .contact-logo {
    display: flex;
  }
  
  .contact-image {
    height: 100%;
    width: 50%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .contact-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
}

/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {
.container {
  width: var(--container-width-medium);
}
  
  section {
    margin-top: 6rem;
  }
  .about-container {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
  }
  .about-content {
    display: inline;
    max-height: 90%;
  }

  .about-content>img {
    margin-right: 1rem;
    width: 40%;
  }
  .about-content>h1 {
    position: relative;
    text-align: center;
    width: 100%;
    top: 1rem;
    left: -4rem;
    text-align: left;
  }

  .about-content>article {
    max-width: 90%;
    margin-left: 2rem;
    display: block;
  }
  .about-content>article>h2 {
    text-align: center;
  }

  .about-content>article>.icons{
    display: none;
  }

  #contact {
    max-height: 80vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
  }
  
  .contact-container {
    margin: 2%;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .contact-info {
    height: 100%;
    width: 50%;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    justify-content: center;
    flex: 1;
    font-size: calc(7px + 0.3vw);
  }
  
  .contact-info > p {
    margin-top: 5%;
  } 
  
  .contact-address {
    margin-top: 0%;
  }
  
  .contact-image {
    height: 100%;
    width: 50%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .contact-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-small);
  }

  .about-container {
    width: 100%;
  }
  .about-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about-content>img {
    width: 100%;
  }
  .about-content>h1 {
    position: static;
    text-align: center;
  }
  .about-content>article {
    margin: 0;
  }
  .about-content>article>.icons {
    display: flex;
    justify-content: center;
  }

  #contact {
    max-height: 80vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
  }
  
  .contact-container {
    margin: 2%;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .contact-info {
    height: 100%;
    width: 50%;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    justify-content: center;
    flex: 1;
    font-size: calc(8px + 0.3vw);
  }
  
  .contact-info > p {
    margin-top: 5%;
    
  } 
  
  .contact-address {
    margin-top: 0%;
  }
  
  .contact-image {
    height: 100%;
    width: 50%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .contact-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

}
