@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto italic";
  src: url("../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #fff;
    --color-bg-variant: #0891b2;
    --color-primary: rgb(8, 145, 178);
    --color-primary-variant: #6dc7de;
    --color-dark: #000;
    --color-dark-variation: #585858;

    --transition: all 400ms ease;

    --container-width-xxl: 60%;
    --container-width-large: 75%;
    --container-width-medium: 85%;
    --container-width-small: 90%;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}

.container {
    width: var(--container-width-large);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 22px;
}

section {
  margin-top: 8rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-dark-variation);
}

.icon-link {
  color: var(--color-dark);
  transition: var(--transition);
}

.icon-link:hover {
  color: var(--color-primary-variant);
}

button {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

button:hover {
  background: var(--color-dark-variation);
  color: var(--color-bg);
  border-color: transparent;
}
#about {
  overflow: hidden;
  display: flex;
  margin-top: 0;
}
.about-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  transform: skew(0deg, -10deg) translateY(-11rem);
}
.about-content {
  display: flex;
  position: relative;
  align-items: center;
  height: 80%;
  margin: 2rem 0;
  max-width: 90%;
  transform: skew(0deg, 10deg) translateY(11rem);
  text-align: center;
}
.about-content>img {
  width: 35%;
  height: auto;
  float: left;
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 5px 2px rgb(58 58 58 / 30%)
}
.about-content>h1 {
  position: absolute;
  width: 35%;
  z-index: 10;
  bottom: -5%;
  color: var(--color-bg)
}
.about-content>article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-bg);
  min-height: 80%;
  text-align: left;
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 2px 4px 5px 2px rgb(58 58 58 / 30%);
}
.about-content>article>p {
  padding: 1rem 1rem 1rem 0rem;
  text-align: justify;
  text-justify: inter-word;
}
.about-content>article>.icons {
  align-self: flex-end;
  text-align: right;
  color: var(--color-dark);
  transition: var(--transition);
}
.about-content>article>.icons>* {
  margin-left: 1rem;
  font-size: 1.3rem;
}

.work-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-wrapper>h2 {
  width: 90%;
  margin-bottom: 2rem;
}

.work-container {
  width: 90%;
  display: grid;
  gap: 5vh 5%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.project {
  aspect-ratio: 3 / 4;
  box-shadow: 2px 4px 5px 2px rgb(58 58 58 / 30%);
}

.project>div:first-child {
  height: 60%;
  width: 100%;
  background-color: red;
  color: white;
  font-size: 36px;
  text-align: center;
}

.project>div>img {
  height: 100%;
  width: 100%;
}

.project>div+div {
  height: 40%;
  width: 100%;
  padding: 5% 10%;
}

.project>div+div>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project>div+div>div>aside {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.project>div+div>div>aside>a>i {
  font-size: 28px;
}

.project>div+div>div+p {
  width: 100%;
  margin-top: 5%;
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3;
  -webkit-box-orient: vertical;
}


#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
}

.contact-container {
  padding: 1rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.contact-info {
  height: 100%;
  width: 50%;
  padding: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  justify-content: center;
  flex: 1;
}

 .contact-info > p {
  margin-top: 5%;
} 

.contact-detail>i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.contact-address {
  margin-top: 0%;
}

.contact-logo {
  display: flex;
  font-size: 1.7rem;
  margin-top: 1rem;
}

.contact-logo>a {
  margin-right: 1rem;
}

.contact-image {
  height: auto;
  width: 50%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.contact-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Media Queries (XXL Devices) */
@media screen and (min-width: 2048px) {
  .container {
    width: var(--container-width-xxl);
  }

  #work {
    display: flex;
    justify-content: center;
  }

  .work-wrapper {
    width: var(--container-width-xxl);
  }  
}
/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {
.container {
  width: var(--container-width-medium);
}

  section {
    margin-top: 6rem;
  }
  .about-container {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
  }
  .about-content {
    display: inline;
    max-height: 90%;
  }

  .about-content>img {
    margin-right: 1rem;
    margin-left: -1.2rem;
    width: 40%;
  }
  .about-content>h1 {
    position: relative;
    text-align: center;
    width: 100%;
    top: 1rem;
    left: -4rem;
    text-align: left;
  }

  .about-content>article {
    display: block;
  }
  .about-content>article>h2 {
    text-align: center;
  }

  .about-content>article>.icons{
    display: none;
  }

  .work-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-info {
    padding: 2% 0 2% 2%;
  }

  .contact-detail {
    font-size: 0.9rem;
  }

  .contact-detail>i {
    font-size: 1rem;
    margin-right: 0.1rem;
  }
  .contact-logo>a {
    font-size: 1.5rem;
  }

}

/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-small);
  }

  .about-container {
    width: 100%;
  }
  .about-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about-content>img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .about-content>h1 {
    position: static;
    text-align: center;
  }
  .about-content>article {
    margin: 0;
  }
  .about-content>article>.icons {
    display: flex;
    justify-content: center;
  }

  .work-container {
    grid-template-columns: 1fr;
    justify-content: center ;
  }

  .work-wrapper>h2 {
    text-align: center;
  }


  .contact-container {
    flex-direction: column;
  }

  .contact-info {
    width: 100%;
  }

  .contact-detail {
    font-size: 0.8rem;
  }
  .contact-detail>i {
    display: none;
  }
  .contact-logo {
    align-self: center;
  }

  .contact-image {
    height: auto;
    width: 100%;
  }

}
